<%= render 'layouts/user_errors_messages', user: @user %>
<div class="container">
<h1>User info</h1>
<%= form_for(@user) do |f| %>
<h4>Name<%= f.text_field :name %></h4>
<h4>Image</h4>
<%= f.attachment_field :profile_image %>
<h4>Introduction<%= f.text_area :introduction %></h4>
<%= f.submit 'Update User', class: "btn btn-default" %>
<% end %>
</div>